body {
    background-color: lightyellow;
    color: darkorange;
    font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
    width: 100%;
}

li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

.dayOfWeek {
    font-size: x-large;
    font-weight: bold;
}

.list li {
    padding: 5px 0;
}

#id_title {
    position: relative;
}

.btn {
    position: absolute;
}