body {
    background-color: lightyellow;
    color: darkorange;
    font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
    width: 100%;
}

li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

.list li {
    padding: 5px 0;
}

@media screen and (min-width: 480px) {
    textarea {
        width: 262px;
    }
    .dayOfWeek {
        font-size: x-large;
        font-weight: bold;
    }
}

@media screen and (min-width: 800px) {
    textarea {
        width: 142px;
    }

    .dayOfWeek {
        font-size: large;
        font-weight: bold;
    }
}