li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

.list li {
    padding: 5px 0;
}

@media screen and (max-width: 640px) {
    body {
        background-color: snow;
        color: hotpink;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
    }

    .main-title {
        font-size: xx-large;
    }

    textarea {
        width: 200px;
    }

    .label {
        font-size: large;
        font-weight: bold;
        display: block;
        cursor: pointer;
        pointer-events: all;
    }

    .list li {
        display: block;
    }

    .day {
        display: none;
    }

    .list ul {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin: 0;
        padding: 0;
        opacity: 0;
        list-style: none;
    }

    input[type="checkbox"].day + ul {
        height: 0;
        overflow-y: hidden;
    }

    input[type="checkbox"].day:checked + ul {
        height: 68px;
        opacity: 1;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: snow;
        color: hotpink;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
        font-size: medium;
    }

    .main-title {
        font-size: xx-large;
    }

    table {
        padding-bottom: 50px;
    }

    textarea {
        width: 262px;
    }

    .label {
        font-size: x-large;
        font-weight: bold;
        display: block;
        padding-left: 50px;
    }

    .day {
        display: none;
    }

    .list ul {
        margin: 0;
        list-style: none;
    }
}