body {
    background-color: deepskyblue;
    color: yellow;
    font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
    width: 100%;
}

li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

.dayOfWeek {
    font-size: x-large;
    font-weight: bold;
}

.list li {
    padding: 5px 0;
}