li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

.dayOfWeek {
    font-size: x-large;
    font-weight: bold;
}

.list li {
    padding: 5px 0;
}

@media screen and (min-width: 320px) {
    body {
        background-color: deepskyblue;
        color: yellow;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
    }

    .main-title {
        font-size: xx-large;
    }
    textarea {
        width: 262px;
    }
    .dayOfWeek {
        font-size: x-large;
        font-weight: bold;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: deepskyblue;
        color: yellow;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
        font-size: medium;
    }

    .main-title {
        font-size: xx-large;
    }
    textarea {
        width: 262px;
    }

    .dayOfWeek {
        font-size: large;
        font-weight: bold;
    }
}