li {
    list-style-type: none;
}

.main-title {
    text-align: center;
}

@media screen and (max-width: 640px) {
    body {
        background-color: lightblue;
        color: white;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
        margin: 0 auto;
    }

    .main-title {
        font-size: xx-large;
    }

    textarea {
        width: 200px;
    }

    .label {
        font-size: large;
        font-weight: bold;
        cursor: pointer;
        display: block;
    }

    .list {
        margin: 0 auto;
        padding: 0;
    }

    .list ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .list li {
        max-height: 0;
        overflow-y: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        display: block;
    }

    .day {
        display: none;
    }

    .day:checked + .label {
        background-color: lightblue;
        color: white;
    }

    #sun:checked ~ #list1 li,
    #mon:checked ~ #list2 li,
    #tue:checked ~ #list3 li,
    #wed:checked ~ #list4 li,
    #thr:checked ~ #list5 li,
    #fri:checked ~ #list6 li,
    #sat:checked ~ #list7 li {
        max-height: 68px;
        opacity: 1;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: lightblue;
        color: white;
        font-family: Meiryo, 'メイリオ', 'Yu Gothic', 'YuGothic';
        width: 100%;
        font-size: medium;
    }

    .main-title {
        font-size: xx-large;
    }

    table {
        padding-bottom: 50px;
    }

    textarea {
        width: 262px;
    }

    .label {
        font-size: x-large;
        font-weight: bold;
        display: block;
        padding-left: 50px;
    }

    .day {
        display: none;
    }

    .list ul {
        margin: 0;
        list-style: none;
    }
}