body {
    background-color: lightyellow !important;
    color: lightskyblue !important;
    font-family: sans-serif;
    width: 100%
}

span {
    display: block;
}

#left-side {
    float: left;
    padding: 0.7em;
    width: 50%;
    text-align: center;
}

#date {
    font-size: 0.3em;
}

#time {
    font-size: 1em;
}

#right-side {
    float: right;
    padding: 3em 4em 3em 3em;
    text-align: center;
    height: 50%;
}

.slide {
    height: 20rem;
    width: 30rem;
    overflow: hidden;
}

.trash {
    height: 20rem;
    float: left;
    width: 100%;
}

.today-trash {
    font-size: 1.5vw;
}

#trash-contents {
    padding-top: 15px;
    padding-bottom: 25px;
}

.weather {
    height: 20rem;
    float: left;
    width: 25rem;
}

.today-weather {
    font-size: 1.5vw;
    letter-spacing: 3px;
}

#weather-contents {
    padding-top: 15px;
    padding-bottom: 25px;
}

.border {
    border-bottom: 1px solid lightskyblue;
    width: 30rem;
}

.train {
    padding-top: 0.5em;
    display: inline-block;
}

.train-txt {
    letter-spacing: 5px;
    font-size: 1.5vw;
}

#train-time {
    padding-top: 1em;
}

.hide {
    display: none;
}

#publicTime {
    padding-top: 5rem;
    font-size: x-small;
}